@media all and (max-width: 1800px) {}

@media all and (max-width: 1500px) {
    .bridge-img.img-people {
        max-width: 100%;
    }
    .feasibility-img-box img {
        max-width: -webkit-calc(100% + 60px);
        max-width: calc(100% + 60px);
    }
    .contact-form-img-wrap img {
        max-width: 100%;
    }
}

@media all and (max-width: 1200px) {
    .logo {
        max-width: 212px;
    }
    .main-nav {
        margin-top: 15px;
        margin-right: 0;
    }
    .content.big {
        font-size: 30px;
    }
    .content {
        font-size: 26px;
    }
    .why-we-box .left-box {
        padding-right: 30px;
    }
    .bridge-img.img-people {
        margin-bottom: 240px;
    }
    .bridge-img.img-earth {
        margin-left: 100px;
    }
    /*.team-list > li {*/
        /*padding: 0;*/
    /*}*/
        /*.member-img-wrap {*/
            /*padding-bottom: 94.3%;*/
        /*}*/
    .planning-services-box .inner-box {
        padding-left: 25px;
        padding-right: 25px;
    }
    .icon-factory {
        top: 0;
        right: -30px;
        max-width: 220px;
    }
    .section-what-we-do .section-title.big {
        font-size: 50px;
    }
    .contact-form-list > li {
        margin: 0 -13px 12px;
    }
        .input-textarea-box,
        .input-box {
            padding: 0 13px;
        }
    .contact-form-img-wrap:after {
        left: -100px;
        height: 80px;
    }
    .section-contact-us {
        padding-top: 80px;
    }
}

@media all and (max-width: 900px) {
    .logo {
        max-width: 180px;
    }
    .main-nav {
        margin-top: 5px;
    }
    .main-nav > ul > li > a {
        padding: 5px;
        font-size: 16px;
    }
    .section-hero .bg-image {
        max-height: 100%;
    }
        .hero-table {
            height: 700px;
            padding: 130px 0 80px;
        }
            .hero-title {
                margin-bottom: 20px;
                font-size: 38px;
            }
            .hero-title .first-letter {
                font-size: 46px;
            }
            a.play-btn, .play-btn {
                width: 80px;
                height: 80px;
            }
            a.play-btn:before, .play-btn:before {
                border-top-width: 22px;
                border-bottom-width: 22px;
                border-left-width: 28px;
            }
    .section-title.main {
        font-size: 36px;
    }
        .section-title .first-letter {
            font-size: 44px;
        }
        .section-title {
            font-size: 38px;
        }
        .section-contact-us .section-title.big {
            margin-bottom: 30px;
        }
        .section-contact-us .section-title.big,
        .section-what-we-do .section-title.big,
        .section-title.big {
            font-size: 44px;
        }
        .contact-email,
        .contact-address {
            font-size: 28px;
        }
        .content {
            font-size: 24px;
        }
        .content.big {
            font-size: 26px;
        }
        .member-position,
        .member-name {
            font-size: 18px;
        }
    .section-bridge .left-box,
    .section-bridge .right-box {
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .section-bridge .right-box {
        display: none;
    }
        .section-bridge .left-box .content {
            padding: 16px 0 20px 0;
        }
        .section-bridge .left-box .content:before {
            right: -28px;
        }
        .bridge-img.img-plant {
            right: auto;
            left: -42px;
            max-width: 100%;
            max-width: -webkit-calc(100% + 84px);
            max-width: calc(100% + 84px);
            height: auto;
            margin-top: 0;
        }
        .img-mob-box {
            position: relative;
            z-index: 16;
            display: block;
            margin-top: 40px;
            margin-bottom: -28px;
        }
        .img-mob-box .bridge-img.img-earth {
            display: block;
            margin: 0 auto 44px;
            max-width: 200px;
        }
        .bridge-img.img-people {
            display: block;
            max-width: 100%;
            max-width: -webkit-calc(100% + 22px);
            max-width: calc(100% + 42px);
            margin: 0 0 0 19px;
        }
        .why-we-box .left-box, .why-we-box .right-box {
            float: none;
            width: 100%;
            padding: 0;
        }
            .why-we-img-wrap {
                max-width: 260px;
                margin: 0 auto 30px;
            }
            .section-title.bottom-line {
                margin-bottom: 40px;
                padding-bottom: 100px;
            }
            .section-title.bottom-line:after {
                width: 5px;
                height: 80px;
            }
            .section-planning .section-title.top-line {
                padding-top: 100px;
            }
            .section-title.top-line {
                padding-top: 100px;
            }
            .section-title.top-line:after {
                width: 5px;
                height: 80px;
            }
    .section-mission {
        margin-bottom: 100px;
    }
    .wrapper {
        margin-bottom: -216px;
    }
    .wrapper:after {
        height: 216px;
    }
    #footer {
        height: 216px;
    }
        .footer-list {
            margin: 0 auto;
        }
            .footer-list > li {
                float: none;
                width: 100%;
                padding: 0;
            }
            .footer-list > li:nth-child(odd),
            .footer-list > li:nth-child(even) {
                padding: 0;
                text-align: center;
            }
                .footer-list > li ul {
                    max-width: 100%;
                }
                    .footer-list > li ul > li {
                        display: block;
                        width: 100%;
                    }
                    .footer-list > li ul > li:nth-child(even) {
                        text-align: center;
                    }
                        .footer-text a,
                        .footer-text {
                            font-size: 18px;
                        }
    .feasibility-box .left-box,
    .feasibility-box .right-box {
        float: none;
        width: 100%;
        padding: 0;
    }
    .feasibility-box .left-box {
        margin-bottom: 20px;
    }
    .feasibility-img-box {
        left: -25px;
    }
    .feasibility-img-box:before {
        top: 40px;
        left: auto;
        right: -50px;
    }
        .feasibility-img-box img {
            max-width: 100%;
            max-width: -webkit-calc(100% + 25px);
            max-width: calc(100% + 25px);
        }
        .box-title {
            font-size: 32px;
        }
        .planning-services-box .content {
            column-count: 1;
            column-gap: 0;
        }
    .customized-box .left-box,
    .customized-box .right-box {
        float: none;
        width: 100%;
        padding: 0;
    }
    .customized-box .inner-box {
        padding-left: 0;
    }
    .customized-box .left-box {
        display: none;
    }
    .additional-box {
        margin-top: 40px;
    }
    .additional-box .inner-box {
        padding-top: 40px;
    }
    .system-solution-box .inner-box {
        max-width: 100%;
    }
    .system-solution-box .left-box {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }
    .system-solution-box .right-box {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .system-solution-box .box-title {
        margin-bottom: 14px;
    }
    .system-solution-box {
        margin-bottom: 0;
    }
    .section-what-we-do {
        padding-bottom: 50px;
    }
    .icon-pencil {
        left: auto;
        top: -50px;
        right: 20px;
    }
    .icon-screw {
        top: 200px;
        left: auto;
        right: 0;
    }
    .contact-form-box label {
        font-size: 26px;
    }
        .input-box {
            max-width: 100%;
        }
        .city .input-box,
        .input-box.half-box {
            max-width: 50%;
            /*max-width: -webkit-calc(50% - 4px);*/
            /*max-width: calc(50% - 2px);*/
        }
        .input-textarea-box br {
            display: none;
        }
        .contact-form-bottom-box .left-box,
        .contact-form-bottom-box .right-box {
            float: none;
            width: 100%;
            padding: 0;
        }
        .contact-form-bottom-box .left-box {
            margin-bottom: 100px;
        }
}

@media all and (max-width: 600px) {
    #header {
        padding: 3px 0 6px;
        text-align: center;
        -webkit-transition: background-color .35s ease-in;
        -moz-transition: background-color .35s ease-in;
        -o-transition: background-color .35s ease-in;
        transition: background-color .35s ease-in;
    }
    #header.scrolling {
        position: fixed;
        width: 100%;
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 1px 15px 0 rgba(0,0,0,0.1);
        -moz-box-shadow: 0 1px 15px 0 rgba(0,0,0,0.1);
        box-shadow: 0 1px 15px 0 rgba(0,0,0,0.1);
    }
        .scrolling .logo .light {
            display: none;
        }
        .home .scrolling .logo .dark {
            display: block;
        }
        .scrolling .main-nav > ul > li > a {
            color: #000000;
        }
        .scrolling .main-nav > ul > li > a:hover,
        .scrolling .main-nav > ul > li > a:focus {
            color: #81b84a;
        }
        .logo {
            max-width: 172px;
        }
        .main-nav {
            float: none;
            height: 16px;
            margin: 3px 0 0 0;
        }
            .main-nav > ul > li > a {
                padding: 2px 3px;
                font-size: 11px;
                vertical-align: top;
            }
    .hero-table {
        padding: 100px 0 100px;
        height: 455px;
    }
        .hero-title {
            margin-bottom: 15px;
            font-size: 25px;
        }
            .hero-title .first-letter {
                font-size: 30px;
            }

        a.play-btn,
        .play-btn {
            /*display: none;*/
            width: 59px;
            height: 59px;
            border-width: 2px;
        }
        a.play-btn:before,
        .play-btn:before {
            border-top-width: 19px;
            border-bottom-width: 19px;
            border-left-width: 26px;
        }
        .section-hero .bg-image {
            max-height: 100%;
        }
    .section-bridge {
        /*overflow: hidden;*/
        padding: 24px 0 16px;

    }
        .section-bridge .container {
            padding: 0 42px;
        }
        .section-title {
            font-size: 23px;
        }
        .section-title.main {
            margin-bottom: 35px;
            font-size: 21px;
        }
            .section-title .first-letter {
                font-size: 25px;
            }
        .section-title.bottom-line {
            padding-bottom: 65px;
        }
        .section-title.bottom-line:after {
            width: 3px;
            height: 50px;
        }
        .section-title.top-line {
            margin-bottom: 40px;
            padding-top: 65px;
            word-spacing: .02em;
        }
        .section-planning .section-title.top-line {
            padding-top: 65px;
            margin-bottom: 30px;
        }
        .section-title.top-line:after {
            width: 3px;
            height: 50px;
        }
        .section-title.big {
            font-size: 25px;
        }
        .section-bridge .section-title.big {
            margin-bottom: 8px;
        }
        /*.section-bridge .left-box,*/
        /*.section-bridge .right-box {*/
            /*float: none;*/
            /*width: 100%;*/
            /*margin: 0;*/
            /*padding: 0;*/
        /*}*/
        /*.section-bridge .right-box {*/
            /*display: none;*/
        /*}*/
            /*.section-bridge .left-box .content {*/
                /*padding: 16px 0 20px 0;*/
            /*}*/
            /*.section-bridge .left-box .content:before {*/
                /*right: -28px;*/
            /*}*/
        /*.bridge-img.img-plant {*/
            /*right: auto;*/
            /*left: -42px;*/
            /*max-width: 100%;*/
            /*max-width: -webkit-calc(100% + 84px);*/
            /*max-width: calc(100% + 84px);*/
            /*height: auto;*/
            /*margin-top: 0;*/
        /*}*/
    .img-mob-box {
        /*position: relative;*/
        /*z-index: 16;*/
        /*display: block;*/
        margin-top: 20px;
        margin-bottom: -28px;
    }
        .img-mob-box .bridge-img.img-earth {
            /*display: block;*/
            margin: 0 auto 24px;
            max-width: 110px;
        }
        /*.bridge-img.img-people {*/
            /*display: block;*/
            /*max-width: 100%;*/
            /*max-width: -webkit-calc(100% + 22px);*/
            /*max-width: calc(100% + 42px);*/
            /*margin: 0 0 0 19px;*/
        /*}*/
    .why-we-box {
        padding-bottom: 50px;
    }
        .why-we-box .left-box,
        .why-we-box .right-box {
            float: none;
            width: 100%;
            padding: 0;
        }
        .why-we-box .left-box {
            padding-top: 5px;
        }
            .why-we-img-wrap {
                position: relative;
                left: -15px;
                max-width: 184px;
                margin: 0 auto 18px;
            }
    .section-planning .bg-green {
        margin-bottom: 47px;
    }
        .team-list {
            margin-bottom: -6px;
        }
            .team-list > li {
                width: 49%;
                width: -webkit-calc(50% - 4px);
                width: calc(50% - 4px);
                margin-bottom: 20px;
            }
            .team-list > li,
            .team-list > li:nth-child(3n +1),
            .team-list > li:nth-child(3n + 3) {
                padding: 0 6px;
                text-align: center;
            }
            .team-list > li.director {
                width: 100%;
            }
                    .team-list > li.director .member-img-wrap {
                        /*padding-bottom: 82.6%;*/
                    }
                .member-box {
                    max-width: 155px;
                }
                    .member-img-box {
                        max-width: 128px;
                    }
                    .member-img-wrap {
                        /*padding-bottom: 87.4%;*/
                        -webkit-border-radius: 8px;
                        -moz-border-radius: 8px;
                        border-radius: 8px;
                    }
                        .member-info {
                            margin-top: -5px;
                        }
                        .member-name {
                            font-size: 13px;
                        }
                        .member-position {
                            font-size: 13px;
                        }
        .content-box {
            padding: 8px 0 18px;
        }
        .section-mission .content.big > * {
            margin-bottom: 3px;
        }
    .section-mission {
        margin-bottom: 58px;
    }
    .wrapper:after {
        /*height: 187px;*/
    }
    .wrapper {
        /*margin-bottom: -187px;*/

    }
    #footer {
        display: table;
        width: 100%;
        padding: 25px 0 16px;
        /*height: 187px;*/
        /*height: auto;*/
    }
        #footer .container {
            display: table-cell;
            vertical-align: middle;
        }
        .footer-list {
            max-width: 310px;
            margin: 0 auto;
        }
        .footer-list > li {
            display: block;
            margin-bottom: 4px;
        }
        .footer-list > li:last-child {
            margin-bottom: 0;
        }
            .footer-list > li ul > li {
                /*display: block;*/
            }

            .footer-text {
                padding: 4px 0;
                font-size: 14px;
            }
                .footer-text br {
                    display: block;
                }
                .footer-text a {
                    font-size: 14px;
                }
    .section-what-we-do {
        padding-top: 83px;
    }
        .section-what-we-do .section-title.big {
            margin-bottom: 15px;
            font-size: 27px;
        }
        .feasibility-box .left-box {
            margin-bottom: 50px;
            padding-left: 18px;
        }
        .icon-pencil {
            top: -52px;
            right: 18px;
            width: 42px;
        }
        .icon-screw {
            top: 48px;
            right: 30px;
            width: 70px;
        }
        .feasibility-img-box:before {
            top: 70px;
            height: 42px;
        }
    .feasibility-img-box {
        left: -35px;
    }
        .feasibility-img-box img {
            max-width: 100%;
            max-width: -webkit-calc(100% + 34px);
            max-width: calc(100% + 34px);
        }
    .feasibility-box {
        margin-bottom: 22px;
    }
        .planning-services-box .inner-box {
            padding: 20px 15px 32px;
            border-width: 2px;
        }
        .box-title {
            margin-bottom: 9px;
            font-size: 18px;
            word-spacing: 0;
            letter-spacing: .01em;
        }
    .planning-services-box {
        margin-bottom: 36px;
    }
    .customized-box .right-box {
        margin-top: 65px;
    }
        .icon-factory {
            top: 0;
            right: 13px;
            width: 148px;
        }
        .customized-box .inner-box {
            padding: 20px 0 16px 18px;
        }
        .customized-box .section-title.big {
            margin-bottom: 18px;
        }
    .customized-box {
        margin-bottom: 14px;
    }
    .additional-box {
        margin-top: 0;
        margin-bottom: 10px;
    }
        .additional-box .inner-box {
            max-width: 100%;
            padding: 20px 16px 20px;
            border-width: 2px;
        }
            .additional-box .box-title {
                margin-bottom: 10px;
            }
    .icon-system {
        max-width: 155px;
    }

    .section-contact-us {
        padding: 35px 0 30px;
    }
        .contact-us-top-box {
            margin-bottom: 30px;
        }
            .contact-us-top-box .left-box,
            .contact-us-top-box .right-box {
                float: none;
                width: 100%;
                padding: 0;
            }
                .contact-us-top-box .right-box > :last-child {
                    margin-bottom: 0;
                }
                .section-contact-us .section-title.big {
                    margin-bottom: 32px;
                    font-size: 27px;
                }
                .contact-us-img-wrap {
                    max-width: 195px;
                    margin: 0 auto 20px;
                }
                .contact-email,
                .contact-address {
                    margin-bottom: 20px;
                    font-size: 17px;
                }
                .contact-form-list > li {
                    margin-bottom: 4px;
                }
                    .contact-form-box label {
                        margin-bottom: 1px;
                        font-size: 17px;
                        line-height: 1;
                    }
                    .input-style {
                        min-height: 24px;
                        padding: 2px 10px;
                        font-size: 16px;
                        border-width: 1px;
                    }
                    textarea.input-style {
                        height: 194px;
                        padding: 2px 10px;
                        font-size: 16px;
                    }
            .recaptcha-text {
                font-size: 17px;
            }
            a.btn, .btn {
                max-width: 220px;
                padding: 9px 20px;
                font-size: 21px;
            }
        .contact-form-bottom-box .left-box {
            margin-bottom: 42px;
        }
            .contact-form-img-wrap {
                margin-left: 17px;
            }
            .contact-form-img-wrap:after {
                bottom: 42px;
                height: 60px;
            }
                .contact-form-img-wrap img {
                    max-width: 100%;
                    max-width: -webkit-calc(100% + 53px);
                    max-width: calc(100% + 53px);
                }
    .content {
        font-size: 15px;
    }
        .content > * {
            margin-bottom: 15px;
        }
        .content ul {
            margin-bottom: 23px;
        }
            .content ul > li {
                padding-left: 14px;
            }
            .content ul > li:before {
                width: 4px;
                height: 4px;
                margin-top: 7px;
                margin-right: 7px;
            }
            .customized-box .content ul > li {
                padding-left: 20px;
            }
            .customized-box .content ul > li:before {
                left: 0;
            }
    .content.big {
        font-size: 17px;
    }
        .content.big > * {
            margin-bottom: 20px;
        }

}